@mixin commonTraits {
    border-radius: 10px;
    border: 1px solid red;
    padding: 10px;
}

header {
    color: green;
    @include commonTraits;
}

footer {
    color: blue;
    @include commonTraits;
}